<div *ngIf="loading">
  <app-spinner overlay="true"></app-spinner>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <!--    <template *ngFor="let header in headers">-->
    <!--      <th scope="col">{{header.name}}</th>-->
    <!--    </template>-->
    <th scope="col">#</th>
    <th scope="col">Country</th>
    <th scope="col">Area</th>
    <th scope="col">Population</th>
    <th *ngIf="loadActor" scope="col">Cargar actor</th>
    <th *ngIf="actions">Acciones</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of body; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + row.flag" class="mr-2" style="width: 20px">
      {{ row.name }}
    </td>
    <td>{{ row.area | number }}</td>
    <td>{{ row.population | number }}</td>
    <td *ngIf="loadActor">
      <button class="btn btn-outline-secondary" (click)="actorEvent(row.name)">Cargar actor</button>
    </td>
    <td *ngIf="actions">
        <button class="btn btn-outline-primary btn-sm" name="options" id="option1" (click)="elevateActor(row.name)">Actores</button>
        <button class="btn btn-outline-info btn-sm" (click)="elevateMovie(row.name)" name="options" >Peliculas</button>
        <button class="btn btn-outline-dark btn-sm" (click)="elevateCountry(row)" name="options" >Pais</button>
    </td>
  </tr>
  </tbody>
</table>
